

/*------------------------------Selectores de tipo:*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*h1{
    font-size: 2.5rem;
    font-family: "Rubik Dirt", system-ui;
    text-align: center;
}*/

/*----------------------------------Selectores Id:*/

#fondoGradientAzul{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
/*background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: azure;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#001968+0,356aa0+100 */
background: linear-gradient(135deg,  rgba(0,25,104,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}


#fondoGradientVinoTintoFooter ul li{
    list-style: none;
    font-size: 18px;
}

#fondoGradientVinoTintoFooter a{
    color: azure;
    text-decoration: none;
}

#qrFooterCard{
    margin: 6px;
}

#fondo-deg-hero{

background: #f5f6f7;
}

#link-header a:hover{
    text-decoration: underline;
}

/*----------------------------------SELECTORES DE CLASE:*/
.navbar{
    padding: 2rem;
    background:transparent;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: "Rubik Dirt", cursive ;
}

.hero{/*[SECCIÓN: HERO]*/
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{/*[SECCIÓN: HERO]*/
    padding: 3rem;
}

.hero-principal h2{/*[SECCIÓN: HERO]*/
    font-size: 2rem;
    color: #615151;
    text-align: justify;
    margin-top: 1rem;
}

.hero-inferior{/*[SECCIÓN: HERO]*/
    background-color: #f5f6f7;
}

.hero-inferior-imagen{/*[SECCIÓN: HERO]*/
    justify-content: center;
    align-items: center;
}

.imagen-hero-desarrollador{/*[SECCIÓN: HERO]*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.seccion-oscura{/*[SECCIÓN: SOBRE MI]*/
    background-color: #1b1b32;
    color:white;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.seccion-oscura p{/*[SECCIÓN: SOBRE MI]*/
    text-align: justify;
    padding: 7px;
    margin: 7px;
    font-size: 1.5rem;
}
.sobre-mi{/*[SECCIÓN: SOBRE MI]*/
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{/*[SECCIÓN: SOBRE MI]*/
    max-width: 600px;
    text-align: center;
}

.experiencia{/*[SECCIÓN: EXPERIENCIA]*/
    padding: 40px 40px 60px 40px;
}

.experiencia .row{/*[SECCIÓN: EXPERIENCIA]*/
  height: 371px;
  background-color: #e8e8f0;
}

.experiencia div{/*[SECCIÓN: EXPERIENCIA]*/
  border:1px solid orange;
}

.experiencia i{/*[SECCIÓN: EXPERIENCIA]*/
  
  font-size: 2.5rem;
  color:#7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia .columna{/*[SECCIÓN: EXPERIENCIA]*/
  padding: 20px;
  border: 1px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover{/*[SECCIÓN: EXPERIENCIA]*/
background-color: #1b1b32;
color: white;

}

.experiencia-titulo{/*[SECCIÓN: EXPERIENCIA]*/
  font-size: 25px;
  font-weight: bolder;
  margin: 5px 0;
}

.seccion-clara{/*[SECCIÓN: EXPERIENCIA]*/
  color: black;
  background-color: white;
}

.badges-contenedor{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.badge{
  margin: 2px;
}

.ephesis-regular {/*[ESTILO DE LETRAS]*/
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

.exo-font {/*[ESTILO DE LETRAS]*/
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-size:xx-large;
    font-weight: weight;
    font-style: normal;
}


.rubik-dirt-regular {/*[ESTILO DE LETRAS]*/
    font-family: "Rubik Dirt", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/*----------------------------------------Media Querys:*/

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }

    .card{
        display: none;
    }
}

@media screen and (min-width:700px){/*[IMAGEN DE HERO INFERIOR: LAPTOP,MONITOR,HTML,CSS,JS,REACT]*/
    .hero-inferior-imagen{
        max-width: 600px;
    }
}