

/*------------------------------Selectores de tipo:*/

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 2.5rem;
}

/*----------------------------------Selectores Id:*/

#fondoGradientVinoTinto{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: linear-gradient(135deg,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: azure;

}

#fondoGradientVinoTintoFooter{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ed042f+0,01000a+44,6d0019+100 */
background: linear-gradient(135deg,  #ed042f 0%,#01000a 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
color: azure;
}

#fondoGradientVinoTintoFooter ul li{
    list-style: none;
    font-size: 18px;
}

#fondoGradientVinoTintoFooter a{
    color: azure;
    text-decoration: none;
}

#qrFooterCard{
    margin: 6px;
}

#fondo-deg-hero{

background: #f5f6f7;
}

/*----------------------------------SELECTORES DE CLASE:*/
.navbar{
    padding: 2rem;
    background:transparent;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.hero{/*[SECCIÓN HERO]*/
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
}

.imagen-hero-desarrollador{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
/*----------------------------------------Media Querys:*/

@media screen and (max-width:767px){
    .navbar-brand{
        display: none;
    }

    .card{
        display: none;
    }
}